* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
/*
Headers:;
font-family: 'Special Elite', cursive;
font-family: 'IM Fell English SC', serif;

Body
font-family: 'Average', serif;
font-family: 'Amethysta', serif;
font-family: 'Jacques Francois', serif;
*/

body {
    font-family: 'Average', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', serif;
}

.home_page h1 { 
    text-align: center;
    margin: 80px 0 60px 0;
}

.home_page p {
    font-size: 18px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto 1em auto;

}